$DarkPurple: #050515;
$GreyPurple: #161729;
$MediumPurple: #4533ba;
$LightPurple: #646cff;
$StrongBlue: #2a85ff;
$LightBlue: #70b9fd;
$StrongOrange: #ff9f36;
$White: #ffffff;
$OffWhite: #eae8da;
$CrawlYellow: #f7d404;
$CrawlBlack: #020204;
