@use '../../assets/Constants' as *;

#about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;

    #about-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        width: 40%;
        min-height: fit-content;
        height: 20rem;
        background: linear-gradient(
            160deg,
            rgba($DarkPurple, 0.5),
            rgba($DarkPurple, 0.7)
        );
        border-radius: 1rem;
        box-shadow: 0rem 0.2rem 8rem rgba($DarkPurple, 0.7);

        .about-title {
            font-family: 'Genos';
            font-weight: 800;
            color: transparent;
            background: linear-gradient(
                290deg,
                $StrongOrange 10%,
                $StrongBlue 80%,
                $LightBlue
            );
            background-clip: text;
            -webkit-background-clip: text;
        }
        .nesqual-starbird {
            width: 10rem;
            rotate: -42deg;
            transition: transform 1.5s ease;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }
}
