@use '../../assets/Constants' as *;

.article-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .article-paginator {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 30%;
        gap: 1rem;
        margin-top: 1rem;
    }
}
