@use '../../assets/Constants' as *;

#home-page {
    margin: 0rem auto 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    #home-page-crawl {
        height: 3rem;
    }

    #highlighted-content-section {
        display: grid;
        width: 40rem;
        height: 30rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border-radius: 1rem;

        .highlighted-content-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.3rem;
            border-radius: 1rem;
            border: 0.3rem double $StrongBlue;
            background: linear-gradient(
                rgba($DarkPurple, 0.5),
                rgba($DarkPurple, 0.7)
            );
            padding: 0.5rem 1rem;
        }

        #latest-article {
            grid-column: 1/4;
            grid-row: 1/5;

            h2 {
                font-size: 2rem;
                color: $OffWhite;
                margin-bottom: 1rem;
            }

            .latest-article-title {
                font-size: 1.5rem;
                color: $LightBlue;
            }

            .latest-article-image {
                border-radius: 1rem;
                border: 0.05rem solid $LightBlue;
                background-color: $CrawlBlack;
                max-width: 80%;
                max-height: 50%;
            }
        }

        #other-articles {
            grid-column: 4/6;
            grid-row: 1/3;
        }

        #other-highlight {
            grid-column: 4/6;
            grid-row: 3/5;
        }
    }
}
