@use '../../assets/Constants' as *;

#home-page {
    margin: 0rem auto 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    #home-page-crawl {
        height: 3rem;
    }

    #highlighted-content-section {
        display: grid;
        width: 40rem;
        height: 30rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border-radius: 1rem;

        .highlighted-content-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.3rem;
            border-radius: 1rem;
            border: 0.3rem double rgba($StrongBlue, 0.9);
            background: linear-gradient(
                rgba($DarkPurple, 0.5),
                rgba($DarkPurple, 0.7)
            );
            padding: 0.5rem 1rem;

            h2 {
                color: $OffWhite;
                text-shadow: 0.1rem 0.1rem 0.3rem rgba($LightBlue, 0.3);
            }
        }

        #latest-article {
            grid-column: 1/4;
            grid-row: 1/5;

            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .latest-article-title {
                font-size: 1.5rem;
                color: $LightBlue;
            }

            .latest-article-image {
                border-radius: 1rem;
                border: 0.05rem solid $LightBlue;
                background-color: $CrawlBlack;
                max-width: 80%;
                max-height: 50%;
            }
        }

        #other-articles {
            grid-column: 4/6;
            grid-row: 1/3;

            h2 {
                font-size: 1.3rem;
                margin-bottom: 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 0.3rem;
                list-style-type: none;
                overflow-y: scroll;
                box-shadow: inset 0.2rem 0.2rem 1rem $CrawlBlack;
                background: rgba($CrawlBlack, 0.2);
                border-radius: 0.5rem;
                gap: 0.2rem;
                height: 100%;

                li {
                    width: 100%;
                    &:not(:last-child) {
                        border-bottom: 0.08rem solid rgba($LightBlue, 0.3);
                    }

                    a {
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        align-items: center;
                        text-align: left;

                        * {
                            margin: 0.5rem 0;
                            color: rgba($LightBlue, 0.8);
                        }

                        p {
                            margin-left: auto;
                        }
                    }
                }
            }
        }

        #other-highlight {
            grid-column: 4/6;
            grid-row: 3/5;
        }
    }
}
