@use './assets/_Constants.scss' as *;

#global-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: fit-content;
    width: 100%;
}

.global-nav-header {
    width: 100%;
    box-sizing: border-box;

    font-family: Zain, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: $DarkPurple;
    box-shadow: 0 2px 4px rgba($DarkPurple, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1em;

    a {
        color: $StrongBlue;
        transition:
            color 0.3s,
            filter 0.3s;

        &:hover {
            color: $LightBlue;
            filter: drop-shadow(0 0 0.5rem rgba($LightBlue, 0.5));
        }
    }

    #nav-logo {
        transition: filter 1s;
        cursor: pointer;
        &:hover {
            filter: drop-shadow(0 0 0.5rem rgba($LightBlue, 0.9));
        }
    }

    ul.global-nav-list {
        list-style: none;
        margin: 0;
        margin-left: 0.7rem;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        li {
            font-family:
                Bruno Ace SC,
                Zain,
                Verdana,
                Arial,
                sans-serif;

            font-size: 1.4rem;
        }
    }

    .global-nav-right {
        margin-left: auto;

        a#global-nav-right-text {
            font-family: Genos, Zain, Verdana, Arial, sans-serif;
            font-size: 2rem;
            font-weight: 900;
        }
    }
}

#global-content-window {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
    padding: 0 2rem;
}
